* {
    box-sizing: border-box;
    font-family: "Noto Sans JP", serif;
    margin: 0;
}

a, button {
    cursor: pointer !important;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

.about {
    padding: 20px;
    width: 40%;
    text-align: justify;
    margin: 0 auto;
}

.about p {
    margin-bottom: 10px;
}

.dark {
    background-color: rgb(24, 21, 44);
    color: rgb(243, 243, 243);
}

.light {
    background-color: whitesmoke;
    color: black;
}

body {
    position: relative;
    padding: 0;
}

.top_navbar {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 auto;
    padding: 20px;
    z-index: 999;
}

.nb-btn-theme {
    display: block;
    width: 60px;
    height: 41px;
    font-weight: bold;
    border-radius: 20px;
    font-size: 12px;
    padding: 0
}

.nb-btn {
    display: block;
    width:fit-content;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
}

.nb-span-left {
    display: inline-flex;
    gap: 15px;
}

.nb-span-right {
    display: inline-flex;
    gap: 15px;
    vertical-align: middle;
}

.nb-span-right form {
    display: inline-flex;
    margin-top: -5.5px;
}

.nb-span-right label {
    display: inline-flex;
}

.nb-span-right form label span {
    margin: auto 10px;
    font-size: 16px;
    font-weight: 550;
}

.dark button {
    background-color: rgb(30, 30, 30);
    color: white;
}

#q-anime {
    display: block;
    border-radius: 20px;
    height: 80%;
    font-size: 18px;
    width: 300px;
    margin: auto 0;
    padding-left: 17px;
    margin-top: 6px;
}

.nb-btn-submit {
    display: block;
    border-radius: 20px;
    font-weight: bold;
    width: 80px;
    height: 80%;
    margin: auto 0;
    margin-left: 10px;
}

.nb-search-label {
    font-size: 100px;
}

.ani-result {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: flex-start;
    padding: 0 5rem;
}

.ani-result-h3{
    margin: 0 7rem;
    margin-bottom: 20px;
}

.ani-card {
    position: relative;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 350px;
    height: 600px;
    padding: 15px 18px;
    margin: 2vh 1vw 2vh 1vw
}

.ani-card[class~="dark"] {
    background-color: rgb(36, 33, 56);
}

.ani-card[class~="light"] {
    background-color: rgb(235, 235, 235);
}

.ani-card .card-img {
    position: relative;
    bottom: 0px;
    width: 100%;
}

.ani-card .card-img img {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 425px;
    object-fit: cover;
    border-radius: 10px;
}

.ani-desc {
    margin: 20px auto;
    width: 90vw;
    max-width: 1080px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.ani-desc div {
    font-weight: 300;
}

.ani-desc div b {
    font-weight: 850;
}

.ani-desc .header {
    display: inline-flex;
    min-width: 350px;
}

.ani-desc h2 {
    margin-top: 35px;
    font-size: 2.2rem;
}

.ani-desc .header div {
    margin: 10px 0;
}

.ani-desc .header img {
    border-radius: 11px;
    width: 350px;
    object-fit: cover;
    max-height: 600px;
}

.ani-desc .header .header-desc {
    text-align: justify;
}

.ani-desc .header h3 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: -13px;
    text-align: left;
}

.ani-desc .header .header-desc {
    display: block;
    padding: 0 30px;
    margin: 0;
}

.ani-desc .char-info {
    margin-top: 10px;
    overflow: scroll;
}

.ani-desc .char-info .char-wrapper {
    display: inline-block;
    gap: 15px;
    overflow-x: auto;
    white-space: nowrap;
    width: auto;
}

.char-info h2 {
    font-size: 2.2rem;
}

.char-card {
    display: inline-flex;
    border-radius: 20px;
    padding: 16px;
    height: fit-content;
    flex-direction: column;
    margin-right: 8px !important;
    margin-left: 8px !important;
}

.char-card div {
    display: block;
}

.char-wrapper {
}

.chard-card-name {
    margin-left: 2px !important;
    margin-top: 10px !important;
}

.chard-card-role {
    margin-left: 2px !important;
    margin-top: 1px !important;
    font-size: 12px;
}

.char-card img {
    height: 280px;
    object-fit: cover;
    border-radius: 20px;
}

.char-card[class~="dark"] {
    background-color: rgb(36, 33, 56);
}

.char-card[class~="light"] {
    display: inline-block;
    background-color: rgb(235, 235, 235);
}

.loading {
    margin: 10px auto;
    text-align: center;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #41b3ff; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.router-wrapper {
    min-height: calc(100vh - 80px);
}

.wrapper[class~="dark"] {
    width: 100vw;
    background-color: rgb(24, 21, 44);
}

.wrapper[class~="light"] {
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
}

.footer {
    width: 100vw;
    height: 80px;
    padding: 20px;
    display: inline-flex;
    justify-content: space-between;
}

.footer[class~="dark"] {
    background-color: rgb(36, 33, 56);
}

.footer[class~="light"] {
    background-color: rgb(235, 235, 235);
}

.footer .footer-left a {
    font-size: 14px;
}

.love-footer {
    color: red;
}

.privacy-policy {
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

.privacy-policy p {
    text-align: justify;
    margin-bottom: 20px;
}

.privacy-policy h1 {
    margin-bottom: 30px;
}

.page-btn {
    margin: 10px auto;
    width: fit-content;
}

.page-btn button {
    display: inline-block;
    margin: 4px;
    font-size: 18px;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    border-color: rgb(90, 90, 90);
    font-weight: 200;
}

.page-btn button b {
    font-weight: 900;
}

.page-btn .btn-selected {
    border-color: rgb(255, 255, 255);
}

.loading-wrapper {
    margin: 20vh auto;
    width: fit-content;
}

/* Loadig bar */
.pure-material-progress-circular {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    border-radius: 50%;
    padding: 0.25em;
    width: 3em;
    height: 3em;
    color: rgb(var(--pure-material-primary-rgb, 120, 120, 120));
    background-color: transparent;
    font-size: 30px;
    overflow: hidden;
    margin: 0 auto !important;
}

.pure-material-progress-circular::-webkit-progress-bar {
    background-color: transparent;
}

/* Indeterminate */
.pure-material-progress-circular:indeterminate {
    -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
    animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), .pure-material-progress-circular:indeterminate {
    animation: none;
}

.pure-material-progress-circular:indeterminate::before,
.pure-material-progress-circular:indeterminate::-webkit-progress-value {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-bottom: 0.25em;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100% !important;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-moz-progress-bar {
    box-sizing: border-box;
    border: solid 0.25em transparent;
    border-top-color: currentColor;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

.pure-material-progress-circular:indeterminate::-ms-fill {
    animation-name: -ms-ring;
}

@keyframes pure-material-progress-circular {
    0% {
        transform: rotate(0deg);
    }
    12.5% {
        transform: rotate(180deg);
        animation-timing-function: linear;
    }
    25% {
        transform: rotate(630deg);
    }
    37.5% {
        transform: rotate(810deg);
        animation-timing-function: linear;
    }
    50% {
        transform: rotate(1260deg);
    }
    62.5% {
        transform: rotate(1440deg);
        animation-timing-function: linear;
    }
    75% {
        transform: rotate(1890deg);
    }
    87.5% {
        transform: rotate(2070deg);
        animation-timing-function: linear;
    }
    100% {
        transform: rotate(2520deg);
    }
}

@keyframes pure-material-progress-circular-pseudo {
    0% {
        transform: rotate(-30deg);
    }
    29.4% {
        border-left-color: transparent;
    }
    29.41% {
        border-left-color: currentColor;
    }
    64.7% {
        border-bottom-color: transparent;
    }
    64.71% {
        border-bottom-color: currentColor;
    }
    100% {
        border-left-color: currentColor;
        border-bottom-color: currentColor;
        transform: rotate(225deg);
    }
}

@media only screen and (max-width: 1200px) {
    .ani-desc {
        width: 90%;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .ani-desc .header {
        display: block;
        width: 90%;
    }

    .ani-desc .header img {
        width: 35%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 850px) {
    .ani-desc {
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .ani-desc .header {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .ani-desc .header img {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    #q-anime {
        width: 100%;
        min-width: 100px;
        font-size: 14px;
        margin-left: 0;
    }

    #navbar-about-btn {
        display: none;
    }

    #label-q-anime {
        display: none;
    }

    .ani-card {
        position: relative;
        display: flex;
        border-radius: 10px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        width: 350px;
        height: 600px;
        padding: 15px 18px;
        margin: 0.8vh 0.9vw 0.8vh 0.9vw
    }

    .ani-result {
        display: flex;
        flex-wrap: wrap;
        align-items: left;
        justify-content: flex-start;
        padding: 0 1rem;
    }

    .router-wrapper {
        width: 100%;
    }

    .top_navbar {
        width: 100%;
        display: block;
        text-align: center;
    }

    #main-logo-navbar {
        margin-bottom: 10px;
        margin-top: -10px;
    }

    .nb-span-right {
        margin-left: 0;
    };

    .ani-result-h3 {
        margin: 0 2rem;
    }
}